

:root {
  --clr-figure: #3A332F;
  --clr-ground: #FDF9F4;
  --clr-accent: #FFF;
  --clr-highlight: #C54C06;
}

.darkmode {
  --clr-figure: #FAF0E6;
  --clr-ground: #352F44;
  --clr-accent: #201d29;
  --clr-highlight: #F6B17A;
}

*,
*::before,
*::after {
 box-sizing: border-box;
}

html {
  /* no jump on scrollbar */
  width: 100vw;
  overflow-x: hidden;
}

body {
   min-height: 100%;
   font-family: 'Courier New', Courier, monospace;
   font-size: 1em;
   margin: 0;
   background-color: var(--clr-ground);
}

.content {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 500px 3fr .3fr;
   grid-template-areas:
      "header"
      "content"
      "footer";
}

.background-image {
   grid-area: header;
   margin: 0;
   background-image: url("../images/bkgr.jpg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
   height: 479px;
}

#theme-toggle {
  position: absolute;
  top: 2rem; right: 2rem;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
  background: 0;
  border: 0;
  opacity: .6;
}

#theme-toggle svg {
  fill: var(--clr-ground);
}

#theme-toggle::after {
  content: attr(aria-label);
  position: inherit; 
  width: max-content;
  color: var(--clr-figure);
  background: var(--clr-ground);
  top: 2rem;
  right: 0;
  left: -2rem;
  margin: 0 auto;
  padding: .5rem;
  border-radius: .5rem;
  opacity: 0;
  transform: scale(0);
  transform-origin: top;
  transition: transform 0ms linear 100ms, opacity 70ms linear;
}

#theme-toggle:hover,
#theme-toggle:focus {
  outline: 0;
  opacity: 1;
}

#theme-toggle:hover::after,
#theme-toggle:focus::after {
  opacity: .8;
  transform: scale(1);
  transition: transform 70ms linear, opacity 70ms linear;
}

#logo {
  fill:  var(--clr-ground);
  margin: 0 auto;
  padding: 180px 0 0 0;
  width: 150px;
  position: center;
  left: 50%;
}

.menu {
   grid-area: header;
   position: relative;
   top: 17%;
}

.menu ul {
   text-align: center;
   margin: 0;
   padding: 0;
}

.menu ul > li {
   list-style: none;
   display: inline;
}

.menu li a:link {
   font-size: 0.8em;
   color:  var(--clr-ground);
   text-decoration: none;
   padding-bottom: 2px;
   border-bottom: 1px dashed transparent;
}

.menu li a:visited {
  color:var(--clr-ground);
}

.menu li a:hover {
  color: var(--clr-accent);
  border-bottom-color: var(--clr-accent);
  transition: .8s;
}

.active {
  padding-bottom: 1px;
  border-bottom: 1px solid  var(--clr-ground);
}

#middle {
  margin: 0 40px;
}

article {
  grid-area: content;
  position: static;
  color: var(--clr-figure);
  text-align: center;
  margin: 0;
  padding: 0;
}

article h1 {
  grid-area: content;
  font-size: 1.2em;
  font-weight: normal;
  padding: 30px 0 15px 0;
  margin: 0 auto;
  margin-bottom: 2em;
  border-bottom: 1px dashed var(--clr-figure);
  width: 150px;  
}

article p {
  font-size: 0.8em;
  padding: 0 0 .5em 0;
}

article a:link {
  text-decoration: none;
  color: var(--clr-figure);
  padding-bottom: 2px;
  border-bottom: 1px dashed var(--clr-figure);
}

article a:visited {
  color: var(--clr-figure);
}

article a:hover {
  text-decoration: none;
  transition: .5s;
  color: var(--clr-highlight);
  padding-bottom: 2px;
  border-bottom: 1px dashed var(--clr-figure);
}

.album {
  padding-bottom: 1em;
  margin-bottom: 50px;
}

.album-cover {
  margin: 0 auto 1.25rem;
  padding: 5px 0 15px 0;
  width: 200px;
  height: 200px;
}

.album-cover img {
  border-radius: 4px;
}

#title {
  font-size: 1em;
  line-height: 2em;
}

.album-links {
  list-style-type: none;
  padding: 10px 0 20px 0;
  font-size: .9em;
}

.album-links li {
  padding: 5px 0 5px 0;
}

#skull {
  fill: var(--clr-figure);
   width: 25px;
   margin: 0 auto;
   padding: 2em 0;
}

footer {
   grid-area: footer;
   position: relative;
   background-color: transparent;
   color: var(--clr-figure);
   width: 100%;
   text-align: center;
   padding-bottom: 15px;
}